body {
  padding-bottom: 10vh;
}

body p {
  font-family: "Open Sans", sans-serif;
  color: #333333;
  word-spacing: 0.3rem;

  font-size: 1.1rem;
}

body header nav {
  background-color: #333333bf;
}
body nav a img {
  height: 2.3rem;
  padding-right: 0.6rem;
}
.nav-a {
  color: #333333;
  font-size: 1rem;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
}
nav h5 {
  color: #333333;
  font-size: 1.2rem;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  padding-top: 2rem;
}

#startseite video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

#uberuns,
#dmax-modele,
#contact,
#gallery h2 {
  padding: 4rem 2.5rem 1rem 2.5rem;
}

#dmax p {
  padding: 1rem 2.5rem 1rem 2.5rem;
  font-weight: 600;
}
#dmax button {
  margin: 1rem 2.5rem 1rem 2.5rem;
}
.btn-carousel {
  background: transparent;
}
#contact h4 {
  font-weight: 700;
  font-size: 1.1rem;
}
.nseries h3 {
  padding: 2.5rem 0 0.7rem 0;
}
.nseries h2 {
  padding: 0rem 0 1rem 0;
}
.navbar > div,
.note {
  padding: 0 1.8rem 0 1.8rem;
}

.navbar-brand > img {
  height: 1.3rem;
}
.chevron-left,
.chevron-right {
  height: 2rem;
}
.chevron-left {
  size: 1rem;
  transform: rotate(180deg);
}
.square-image {
  width: 100%;
  height: 0;
  padding-top: 100%; /* Ratio 1:1 */
  position: relative;
}

.square-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo-subtitle {
  color: #ffffff;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.nseries-text {
  font-family: "Open Sans", sans-serif;
  color: #333333;
  word-spacing: 0.3rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
}

#contact h4 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  color: #333333;
  text-transform: uppercase;
  padding: 1.5rem 0 1rem 0;
}
#contact h5 {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: #333333;
  padding: 0.8rem 0 0.8rem 0;
}
#contact h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  color: #333333;
  padding: 0.5rem 0 0.3rem 0;
}
.text-contact p {
  font-family: "Open Sans", sans-serif;
  color: #333333;
  word-spacing: 0.3rem;
  font-weight: 400;
}
.navbar-toggler {
  border-style: none;
}
.navbar-toggler > img {
  height: 2rem;
}
.nseries {
  padding: 1rem 4rem 1rem 4rem;
}
.footer {
  padding: 1rem 1rem 1rem 1rem;
}
.footer-info {
  text-align: center;
}
.footer a {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  padding: 0.5rem 0 0.5rem 0;
  color: #333333;
}
.footer img {
  height: 1.8rem;
}

.footer-line {
  margin-bottom: 20px;
}
.footer-line a {
  font-size: 0.7rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.social-icons img {
  width: 2rem;
  margin: 0 0.5rem;
}
.social-icons {
  margin: 1rem 0;
  text-align: center;
}

.social-icon {
  background-color: #6d727b;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin: 0 0.2rem;
  overflow: hidden;
}
.card-title {
  color: #6d727b;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-size: 2rem;
}
.card-body {
  text-align: center;
}
.social-icon img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.powered-by {
  margin-top: 20px;
  font-size: 0.8em;
  color: #888;
}
.powered-by svg {
  height: 3rem;
  vertical-align: middle;
}

#startseite > img {
  right: 50%;
  top: 83%;
}
#startseite > div {
  background-color: rgba(0, 0, 0, 0.3);
}

.probefahrt {
  color: #ffffff;
  background-color: #e3000b;
  text-decoration: none;
  text-align: center;
  padding: 1.4rem 0 1.4rem 0;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.kontakt {
  color: #ffffff;
  background-color: #333333;
  text-decoration: none;
  text-align: center;
  padding: 1.4rem 0 1.4rem 0;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.image-container-uber {
  position: relative;
  width: 100%;
  height: 50vh;
  background-image: url("pictures/ISUZU-D-MAX-Geschaeftskunden-Flottenkunden.webp");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.image-container {
  position: relative;
  width: 100%;
  height: 50vh;
  background-image: url("pictures/04-home-bild_text-N-Serie\ 3\,5t\ Koffer\ City\ Image.webp");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.text-overlay {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.svg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(90deg);
}

.m-h1-white {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  color: #ffffff;
}

.m-h2-white {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  color: #ffffff;
}

.text-dmax {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  color: #ffffff;
}

.group-function {
  padding: 4rem 1rem 0 1rem;
}

.btn-show {
  color: #e3000b;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}

.btn-main {
  border-radius: 2rem;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  background-color: #e3000b;
  color: #ffffff;
  padding: 1rem 1rem 1rem 1rem;
}
.btn-main:hover {
  border-radius: 2rem;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  background-color: #e3000b;
  color: #ffffff;
  opacity: 80%;
  padding: 1rem 1rem 1rem 1rem;
}
.btn-main a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
}
.btn-main-menu img {
  height: 1.5rem;
}
.btn-main-menu {
  padding: 0.2rem 3rem;
  text-align: center;
}

.dmax-modele-titre {
  font-family: "Kanit", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  color: #333333;
  text-transform: uppercase;
  padding: 2.4rem 0 0.8rem 0;
}
.btn-scd {
  border-radius: 2rem;
  border: 0.2rem solid #333333;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  background-color: #ffffff;
  color: #333333;
  padding: 1rem 1rem 1rem 1rem;
}
.btn-scd:hover {
  border-radius: 2rem;
  border: 0.2rem solid #333333;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  background-color: #333333;
  color: #ffffff;
  padding: 1rem 1rem 1rem 1rem;
}

.m-h2-grey {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: #333333;
  text-transform: uppercase;
  word-break: break-all;
}

.m-h2-grey-dmax {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #333333;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.m-h2-grey-custom {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}

.m-b-headline {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #6d727b;
}
.title-google {
  font-weight: 700;
  color: #333333;
}
#note h4 {
  font-size: 4.8rem;
  font-weight: 500;
  font-family: "Kanit", sans-serif;
  color: #e3000b;
}

@media screen and (min-width: 768px) {
  .svg-overlay {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(360deg);
  }
}
